@font-face {
    font-family: comic;
    src: url(Fonts/comic.ttf);
}

@font-face {
    font-family: vla;
    src: url(Fonts/VLADIMIR.TTF);
}

@font-face {
    font-family: tilt;
    src: url(Fonts/TiltPrism-Regular-VariableFont_XROT\,YROT.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

body {
    background-image: url("images/music-img2.jpeg");
    width: 100%;
    height: 100vh;
    position: fixed;
}

body #wrapper {
    position: relative;
    width: 80%;
    margin: 0 auto;
    top: 10vh;
}

header #logo {
    font-size: 2rem;
    color: white;
    font-family: tilt;
    background-color: #676565;
    /*font-family: 'Montserrat', sans-serif;*/
    font-weight: 100;
}



.search {
    width: 25%;
}

#search-btn {
    width: 10%;
}

#search-container {
    position: relative;
    left: 20%;
    width: 100%;
}

#search-artist, #search-track, #search-btn {
    text-align: center;
    padding: 0.2rem;
    font-family: tilt;
    border-radius: 0.3rem;
}

#search-btn {
    width: 15%;
    background-color: rgb(247, 99, 158);
    color: #fff;
}

#search-btn:hover {
    color: #000;
    background-color: #fff;
}

#container #search-btn {
    margin: 10px;
    font-size: 1rem;
    width: 50%;
    height: 5vh;
    border-radius: 10px;
    cursor: pointer;
}

#container .search-page {
    width: 70%;
    text-align: center;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

#search-btn:hover {
    background-color: #bfb9b9;
}

#home {
    background-color: rgb(10, 25, 61);
    width: 100%;
    height: 100vh;
}

.menu-btn {
    cursor: pointer;
    background-image: url("images/menu.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: fixed;
    right: 0;
}

#main-header {
    padding: 10px;
    box-sizing: border-box;
    width: 25%;
    height: 100vh;
    background-color: rgb(8, 25, 44);
    opacity: 0.5;
    outline: none;
    border: none;
    position: fixed;
    color: #fff;
}

#home #main-header .logo {
    margin-bottom: 30px;
}

#main-header ul li {
    list-style-type: none;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

.similar {
    color: rgb(249, 40, 81);
}

#input {
    padding: 10px;
    position: relative;
    top: 14vh;
    left: 35%;
    width: 30%;
    height: 3em;
    border-radius: 5px;
}

#main {
    width: 70%;
    height: 100vh;
    border: 1px solid black;
    margin: 0;
}

#about {
    border: 1px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.about {
    background-color: rgb(10, 25, 61);;
    color: #fff;
    margin: auto;
    text-shadow: 0 0 5px black;
    padding: 10px;
    border-radius: 5px;
}

#howto {
    border: 2px solid gold;
}

#aboutapi {
    border: 2px solid brown;
}

#contact {
    background: linear-gradient(rgb(174, 243, 174), rgb(249, 145, 145));
    border: 1px solid black;
    width: 100%;
    height: 100vh;
}

.feedback {
    width: 100%;
}

#feedback {
    position: absolute;
    bottom: 0;
}


#container {
    position: absolute;
    top: 25vh;
    left: 15%;
    width: 70%;
    height: 70vh;
    background-color: rgba(138, 134, 134, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#container #paginate {
    display: inline-block;
}

.btn {
    background-color: #000;
    color: #fff;
    width: 5%;
    height: 1rem;
    margin: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 0.6rem;
    font-weight: 600;
    box-shadow: 0 0 1px #fff;
}

.nav-btn {
    font-size:0.6rem;
    width: 5%;
    height: 1rem;
    margin: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.active {
    background-color: rgb(251, 176, 38);
    color: #000;
}

.btn:hover, .nav-btn:hover {
    background-color: rgb(251, 176, 38);
    color: #000;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    width: 100%;
    height: 12vh;
    margin: 0.3rem 0;
    background-color: #f87990;
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.2rem;
}

.item:hover {
    background-color: rgba(136, 132, 244, 0.7);
}

.title, .artist, .date {
    margin: 0.3rem 0;
    background-color: #f87990;
    padding: 10px;
    font-size: 0.8rem;
}

.btn:focus ~ .btn-back {
    display: block;
}

.watch-btn {
    margin: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: rgba(251, 251, 120, 0.8);
    color: rgb(86, 197, 234);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#back-btn {
    font-size: 25px;
    margin: 10px;
    width: 30px;
    height: 1rem;
    line-height: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #dcd9d9;
    cursor: pointer;
}

#back-btn:hover {
    background-color: rgb(97, 97, 251);
}

#paginatewrapper {
    width: 200%;
    position: absolute;
    left: 5%;
    bottom: 2vh;
}